*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 3rem;
}

table {
  margin: 0 auto;
  border-spacing: 0;
  border: 1px solid gray;
}

td, th {
  border: 1px solid gray;
  padding: .5rem;
}