*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 3rem;
}

table {
  margin: 0 auto;
  border-spacing: 0;
  border: 1px solid gray;
}

td, th {
  border: 1px solid gray;
  padding: .5rem;
}

#newBook {
  display: block;
  margin: 2rem auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: 2rem auto;
}

label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem;
}

input {
  width: 14vw;
  flex-direction: flex-end;
}

#submit {
  width: 5vw;
  margin: 0 auto;
}